<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="userTemplate.xhtml">


	<ui:define name="content">

		<f:metadata>
			<f:event listener="#{friends.loadNoFriendList(login.user.id_user)}"
				type="preRenderView"></f:event>
		</f:metadata>

		<div class="jumbotron-white" style="padding-top: 80px">
			<div class="container">
				<h:dataTable value="#{friends.noFriends}" var="user"
					styleClass="table table-hover">
					<h:column>
						<f:facet name="header">Name</f:facet>
			#{user.name}
		</h:column>
					<h:column>
						<f:facet name="header">Surname</f:facet>
			#{user.surname}
		</h:column>
					<h:column>
						<f:facet name="header">Email</f:facet>
			#{user.email}
		</h:column>
					<h:column>
						<f:facet name="header"></f:facet>
						<h:link value="Profile" outcome="profile.xhtml" class="btn btn-info">
					<f:param name="id" value="#{user.id_user}" />
				</h:link>
					</h:column>
					<h:column>
					<h:form>
				<h:commandLink value="Add" action="#{friends.addFriends(login.user.id_user, user.id_user)}"  class="btn btn-success"/>
				</h:form>
					</h:column>
					
				</h:dataTable>
			</div>
		</div>
	</ui:define>

</ui:composition>