<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron jumbotron-dirt">
		<div class="container">
			<h1>Welcome to Status!</h1>
			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
					vulputate rutrum eleifend. Nam faucibus, nibh eu pulvinar pharetra,
					nisi augue ornare turpis, at mattis lorem neque in quam. Vivamus mi
					metus, mattis a diam a, aliquam pharetra velit.</p>
				<footer>Tom Kingston, CEO </footer>
			</blockquote>
		</div>
	</div>

	<div class="jumbotron jumbotron-white">
		<div class="container">
			<div class="page-header">
				<h1>Sign in</h1>
			</div>
			<p class="lead">Morbi at tortor eu arcu dignissim lobortis.
				Phasellus sit amet libero aliquam, laoreet quam ut, posuere tellus.</p>

			<h:form class="form-horizontal" id="loginForm">

				<div class="form-group">
					<div class="col-sm-3">
						<h:outputLabel for="nickLogin">Nick</h:outputLabel>
						<h:inputText id="nickLogin" class="form-control"
							value="#{login.nickName}" required="true"
							requiredMessage="Nick is required !" />
					</div>
				</div>

				<div class="form-group ">
					<div class="col-sm-3">
						<h:outputLabel for="password">Password</h:outputLabel>
						<h:inputSecret id="password" type="password" class="form-control"
							value="#{login.password}" required="true"
							requiredMessage="Password is required !" />
					</div>
				</div>

				<div class="form-group ">
					<div class="col-sm-3">
						<div class="bg-danger">
							<h:messages />
						</div>
						<h:commandButton id="submit" value="Sign in"
							action="#{login.login()}" class="btn btn-success">
						</h:commandButton>
					</div>
				</div>
			</h:form>

		</div>
	</div>

	<div class="jumbotron jumbotron-dirt">
		<div class="container">
			<div class="page-header">
				<h1>Register</h1>
			</div>
			<p class="lead">Morbi at tortor eu arcu dignissim lobortis.
				Phasellus sit amet libero aliquam, laoreet quam ut, posuere tellus.</p>
			<h:button value="Register" outcome="registerContent.html"
				class="btn btn-primary" />
		</div>
	</div>
</ui:composition>