<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">


	<div class="container" style="margin-top: 4px; padding-top: 100px;">
		<p class="text-muted">IBM Summer Academy 2016 @Štefan Szűrös</p>
	</div>

</ui:composition>
