<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<nav id="navbar-blue" class="navbar navbar-default navbar-fixed-top navbar-min">
		<div class="container">
			<div class="navbar-header">
			</div>
		</div>
	</nav>

</ui:composition>