<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="userTemplate.xhtml">


	<ui:define name="content">

		<f:metadata>
			<f:viewParam name="id" value="#{profile.id}" />
			<f:event listener="#{profile.load()}" type="preRenderView"></f:event>
		</f:metadata>

		<div class="jumbotron-white" style="padding: 80px 0px">
			<div class="container">


				<h1>#{profile.user.name} #{profile.user.surname}</h1>
				<h2 style="padding-bottom:30px">#{profile.user.nickName}</h2>
				
				<div class=" col-md-9 col-lg-9 ">
					<table class="table table-user-information">
						<tbody>
							<tr>
								<td>Email:</td>
								<td>#{profile.user.email}</td>
							</tr>
							<tr>
								<td>City:</td>
								<td>#{profile.user.address.city}</td>
							</tr>
							<tr>
								<td>Postal code:</td>
								<td>#{profile.user.address.postalCode}</td>
							</tr>
							<tr>
								<td>Street:</td>
								<td>#{profile.user.address.street}</td>
							</tr>
							<tr>
								<td>Country:</td>
								<td>#{profile.user.address.country}</td>
							</tr>
						</tbody>
					</table>
				</div>
							
			</div>
			
			<div class="container" style="padding: 50px 0px">
			
			<ui:repeat var="post" value="#{profile.posts}">
					<div class="media" style="padding: 25px 0px">
						<a class="media-left" href="#"> <img class="media-object"
							data-src="..." alt="Profile picture" />
						</a>
						<div class="media-body">
							<h4 class="media-heading">#{post.user.name}
								#{post.user.surname}</h4>
							<div>#{post.date}</div>
							<hr />

							#{post.text}

						</div>
					</div>
				</ui:repeat>
			</div>
			
			
		</div>
	</ui:define>

</ui:composition>