<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/index.xhtml">
	
	<ui:define name="content">
	<div class="jumbotron jumbotron-dirt">
		<div class="container">
			<div class="page-header">
				<h1>Register</h1>
			</div>
			<p class="lead">Nunc ut lorem at velit maximus tristique nec et
				mi. Duis pharetra finibus nunc, et sodales sem vulputate vitae.
				Aliquam mattis dignissim pretium. Donec eu egestas augue. In commodo
				tortor tellus, et semper eros euismod sit amet.
			</p>
			
			<h:form class="form-horizontal" id="registerForm">
				
				<div class="form-group">
					<div class="col-sm-3">
						<h:outputLabel for="name">Name</h:outputLabel>
						<h:inputText id="name" class="form-control"
							value="#{reg.user.name}" required="true"
							requiredMessage="Name is required !" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-3">
						<h:outputLabel for="surname">Surname</h:outputLabel>
						<h:inputText id="surname" class="form-control"
							value="#{reg.user.surname}" required="true"
							requiredMessage="Surname is required !" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-3">
						<h:outputLabel for="city">City</h:outputLabel>
						<h:inputText id="city" class="form-control"
							value="#{reg.user.address.city}" required="true"
							requiredMessage="City is required !" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-3">
						<h:outputLabel for="street">Street</h:outputLabel>
						<h:inputText id="street" class="form-control"
							value="#{reg.user.address.street}" required="true"
							requiredMessage="Street is required !" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-3">
						<h:outputLabel for="postalCode">Postal Code</h:outputLabel>
						<h:inputText id="postalCode" class="form-control"
							value="#{reg.user.address.postalCode}" required="true"
							requiredMessage="Postal Code is required !" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-3">
						<h:outputLabel for="country">Country</h:outputLabel>
						<h:selectOneMenu id="country" value="#{reg.user.address.country}" class="form-control">
							<f:selectItems value="#{login.countries}"></f:selectItems>
						</h:selectOneMenu>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-3">
						<h:outputLabel for="nick">Nick</h:outputLabel>
						<h:inputText id="nick" class="form-control"
							value="#{reg.user.nickName}" required="true"
							requiredMessage="Nick is required !" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-3">
						<h:outputLabel for="emailRegister">Email</h:outputLabel>
						<h:inputText id="emailRegister" class="form-control"
							value="#{reg.user.email}" required="true"
							requiredMessage="Email is required !" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-3">
						<h:outputLabel for="passwordRegister">Password</h:outputLabel>
						<h:inputSecret id="passwordRegister" class="form-control"
							value="#{reg.user.password}" required="true"
							requiredMessage="Password is required !" />
					</div>
				</div>				
				
				<div class="form-group ">
					<div class="col-sm-3">
						<div class="bg-danger">
							<h:messages />
						</div>
						<h:commandButton id="submit" value="Register"
							action="#{reg.register()}" class="btn btn-primary" />
						<h:button value="Back" outcome="index.html" class="btn btn-default" />
					</div>
				</div>
			</h:form>
		</div>
	</div>
	</ui:define>
</ui:composition>