<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>primestrap</title>
	</f:facet>

	<f:facet name="middle">
		<h:outputStylesheet name="bootstrap/css/bootstrap.css" />
		<h:outputStylesheet library="css" name="style.css"  />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" />
		<h:outputScript name="bootstrap/js/bootstrap.js" />
	</f:facet>

	<f:facet name="last">
	</f:facet>
</h:head>
<body>

	<div id="page">

		<div id="header">
			<ui:insert name="navbar">
				<ui:include src="userNavbar.xhtml" />
			</ui:insert>
		</div>

		<div id="content">
			<ui:insert name="content">
			</ui:insert>
		</div>

		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="commonFooter.xhtml" />
			</ui:insert>
		</div>

	</div>
	<!-- load js at bottom for faster loading-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" />

</body>
</html>