<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        
       			<h:link value="#{login.user.name} #{login.user.surname}" outcome="profile.xhtml" class="navbar-brand">
					<f:param name="id" value="#{login.user.id_user}" />
				</h:link>


			</div>
       
       
        <div id="navbar" class="navbar-collapse collapse">
          
           <h:form>
          <ul class="nav navbar-nav">
          <li><h:commandLink value="Home" action="user.xhtml?faces-rederict=true" /></li>
            <li><h:commandLink value="Friends" action="#{friends.friendsPage()}" /></li>
            <li><h:commandLink value="Add new friend" action="addFriend.xhtml?faces-rederict=true" /></li>
            </ul>
        </h:form>
          
          
          <h:form>
          <ul class="nav navbar-nav navbar-right">
         
           <li><h:commandLink value="Logout" action="#{login.logout()}" /></li>
          </ul>
            </h:form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

</ui:composition>