<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" template="userTemplate.xhtml">
	
	<ui:define name="content">

	
	<f:metadata>
			<f:event listener="#{login.loadUser}" type="preRenderView"></f:event>
			<f:event listener="#{postBean.loadFriendPosts(login.user.id_user)}" type="preRenderView"></f:event>
		</f:metadata>
		
		<div class="jumbotron-white" style="padding-top: 20px;">
			<div class="container">
				<div class="page-header" style="text-align: center">
					<h1>Hello #{login.user.name} #{login.user.surname} !</h1>
				</div>

			<h:form style="padding-bottom: 80px">
				<div class="input-group col-sm-12" >
					<h:inputTextarea  id="text" class="form-control custom-control" rows="4"
						style="resize: none" value="#{postBean.post.text}" required="true">
					</h:inputTextarea >
				</div>
				<div class="input-group">
				<h:commandButton id="post" value="Post" class="btn btn-default" action="#{postBean.addPost(login.user.id_user)}">
				</h:commandButton>
				</div>
			</h:form>	
				
				
				<ui:repeat var="post" value="#{postBean.posts}">
					<div class="media" style="padding: 25px 0px">
					<a class="media-left" href="#"> <img class="media-object"
						data-src="..." alt="Profile picture" />
					</a>
					<div class="media-body">
						<h4 class="media-heading">#{post.user.name} #{post.user.surname}</h4>
						<div>#{post.date}</div>
						<hr/>
						
						#{post.text}
						
					</div>
					</div>
				</ui:repeat>
				</div>
				</div>
				
				
	</ui:define>

</ui:composition>