body{
	padding-top: 10px;
}

.navbar-min{
	min-height:10px;
}

#navbar-blue.navbar-default { /* #99ff00 - #ccff00 */
    font-size: 14px;
    background-color: red;
    background: #3b5998;
    background: #3b5998;
    border: 0px;
	border-radius: 0;
}
#navbar-blue.navbar-default .navbar-nav>li>a:hover,
#navbar-blue.navbar-default .navbar-nav>li>a:focus,
#navbar-blue.navbar-default .navbar-nav>li>ul>li>a:hover, 
#navbar-blue.navbar-default .navbar-nav>li>ul>li>a:focus, 
#navbar-blue.navbar-default .navbar-nav>.active>a,
#navbar-blue.navbar-default .navbar-nav>.active>a:hover,
#navbar-blue.navbar-default .navbar-nav>.active>a:focus {  
	color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
#sidebar-yellow, #column-yellow {
	background-color: #99ff00;
}
#navbar-blue.navbar-default .navbar-toggle {
    border-color: #99ff00;
}
#navbar-blue.navbar-default .navbar-toggle:hover,
#navbar-blue.navbar-default .navbar-toggle:focus {
    background-color: #ccff00;
}
#navbar-blue.navbar-default .navbar-nav>li>a,
#navbar-blue.navbar-default .navbar-nav>li>ul>li>a, 
#navbar-blue.navbar-default .navbar-brand {
    color: #999999; 
}
#navbar-blue.navbar-default .navbar-toggle .icon-bar,
#navbar-blue.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-blue.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff; 
}

.jumbotron-dirt{
	background-color: #f7f7f7;
	margin: 0px;
}

.jumbotron-white{
	background-color: #ffffff;
	margin: 0px;
}

.navbar-default {
  background-color: #3b5998;
  border-color: #1b2f58;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #c9c9c9;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #c9c9c9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #c9c9c9;
  background-color: #1b2f58;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #c9c9c9;
  background-color: #1b2f58;
}
.navbar-default .navbar-toggle {
  border-color: #1b2f58;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1b2f58;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #c9c9c9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c9c9c9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c9c9c9;
    background-color: #1b2f58;
  }
}

.media{
	padding-bottom: 30px;
}
